<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15% ; float: left;">
    <h3 class="w3-bar-item">Menu</h3>
    <mat-list-item  [routerLink]="['home']" routerLinkActive="active" matRipple matTooltip="Dashboard"
    titlePosition="right">
    <mat-icon>home</mat-icon> <span> Dashboard </span>
</mat-list-item>

<!-- <mat-list-item  [routerLink]="['country-group']" routerLinkActive="active" matRipple matTooltip="Country"
titlePosition="right">
<mat-icon>invert_colors_off</mat-icon> <span> Country </span>
</mat-list-item>

<mat-list-item  [routerLink]="['state-group']" routerLinkActive="active" matRipple matTooltip="State"
titlePosition="right">
<mat-icon>invert_colors_off</mat-icon> <span> State </span>
</mat-list-item>

<mat-list-item  [routerLink]="['district-group']" routerLinkActive="active" matRipple matTooltip="district"
titlePosition="right">
<mat-icon>invert_colors_off</mat-icon> <span> District </span>
</mat-list-item> -->




  </div>

